#greeting {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin: 15px;
}

.hidden {
  display: none;
}

#aside {
  margin-top: 100px;
  position: fixed;
  margin-left:350px;
  border-radius: 4px;
  height: 60%;
}

#aside ul {
  cursor: pointer;
  /*list-style-type: none;*/
}

#main-column {
  float: left;
}

body {
  margin: auto;
  display: table;
}

/*PURE stuff*/
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
