#greeting {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin: 15px;
}

.hidden {
  display: none;
}

#aside {
  font-size: 24px;
  background-color: #EFEFEF;
  border: 1px solid #808080 !important;
  margin-right: 1%;
  margin-top: 1.3%;
  position: fixed;
   padding:0; 
  margin-left:350px;
  
  border-radius: 4px;
}

#aside ul {
  cursor: pointer;
  list-style-type: none;
}

#main-column {
  float: left;
}

body {
  margin: auto;
  display: table;
}